*
{

}

body
{
	font-family: 'Dosis', sans-serif;
	background:url(imgagenes/ojos.jpg) no-repeat fixed center center;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: 17px;
	text-align: center;
}

h1, h2, h3, h4
{
	font-family: 'Shadows Into Light', cursive;
	transition: all 2s;
	margin-top: 0;
	color: #FFF;
}


h1
{
	font-size: 4em;
}
h2
{
	font-size: 2em;
}
h3
{
	font-size: 1.5em;
}


/* Common estyles */




.page-wrapper
{
	width: 800px;
	margin: 0 auto;
	text-align: left;
}
section
{
	perspective: 900px;
}
header
{
	text-align: center;
	margin: 60px 0;
}
header h1
{
	margin: 0;
	line-height: 1em;
}
header h2
{
	color: #45CCCC;
	margin: 0;
	font-family: 'Dosis', sans-serif;
}




/* Intro */

aside
{
	width:100%;
	height:100%;
	list-style:none;
	text-align:center;
}

aside .wrapper h3
{
	font-size: 18px;
	position: absolute;
	transform: rotate(90deg);
	right: 0;
	width: 130px;
	overflow: visible;
	margin: 50px -50px 0 0;
}

aside .wrapper>div
{
	height:28px;
	padding:5px;
	font-family:Helvetica;
	font-size:20px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	display:block
}
aside .wrapper>div:hover
{
	transform: translateX(0);
}

aside ul
{
	margin:0 20px 0 0;
	padding: 0;
	list-style: none;
}
aside ul li
{
	padding: 5px 5px;
	border-radius: 5px;
	transition: all .4s;
}
aside ul li:hover
{
	background: rgba(0,0,0,0.9);
	color: #FFF;
	transform: scale(1.1);
}
 a
{
	color: #45CCCC;
	text-decoration: none;
}
a:hover
{
	color:#88EEEE;
}


.main
{
	border-top:1px dashed #FFF;
	margin-top: 40px;
	padding-top: 30px;
}

.preamble
{
	background: rgba(255,255,255,0.6);
	border-radius: 8px;
	padding: 15px 15px 5px 15px;
	color: #333;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4);
}
.preamble h3
{
	color: #45CCCC;
}

