*
{

}

body
{
	font-family: 'Dosis', sans-serif;
	background: url(imgagenes/ojos.jpg) no-repeat fixed center center;
	background-size: cover;
	font-size: 17px;
	text-align: center;
}

h1, h2, h3, h4
{
	font-family: 'Shadows Into Light', cursive;
	transition: all 2s;
	margin-top: 0;
	color: #FFF;
}


h1
{
	font-size: 4em;
}
h2
{
	font-size: 2em;
}
h3
{
	font-size: 1.5em;
}


/* Common estyles */




.page-wrapper
{
	width: 800px;
	margin: 0 auto;
	text-align: left;
}
section
{
	perspective: 900px;
}
header
{
	text-align: center;
	margin: 60px 0;
}
header h1
{
	margin: 0;
	line-height: 1em;
}
header h2
{
	color: #45CCCC;
	margin: 0;
	font-family: 'Dosis', sans-serif;
}




/* Intro */

aside
{
   
}

aside .wrapper h3
{
	
}

aside .wrapper>div
{
	
}
aside .wrapper>div:hover
{
	
}

aside ul
{
	
}
aside ul li
{
	
}
aside ul li:hover
{
	
}
 a
{
	
}
a:hover
{
	
}


.main
{
	
}

.preamble
{
	
}
.preamble h3
{
	color: #CIFADE
}

